* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  padding-top: 6vh;
  background-color: black;
  color: rgba(255,255,255,0.7);
  width: 90%;
  height: 54vh;
  bottom: 0;
  left: 0;
  font-size: 14px;
}

.footer .heading {
  color: rgba(255,255,255,0.7);
  max-width: 1010px;
  width: 90%;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.footer .content {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem;
}

.footer .content p {
  margin-bottom: 1.3rem;
}

.footer .content a {
  color: rgba(255,255,255,0.7);
}

.footer .content a:hover {
  border-bottom: 1px solid #971717;
}

.footer .content h4 {
  font-family: sans-serif;
  font-weight: 400;
  margin-bottom: 1.3rem;
  font-size: 16px;
}

footer {
  text-align: center;
  margin-bottom: 2rem;
}

footer hr {
  margin: 2rem 0;
}

@media (max-width: 767px) {
  .footer .content {
    display: flex;
    flex-direction: column;
    font-size: xx-small;
  }

  .footer {
    position: unset;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer .content,
  .footer {
    font-size: xx-small;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .footer {
    position: unset;
  }
}